* {
  font-family: monospace;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input {
  max-width: 50%;
  margin-bottom: 10px;
}

.form button {
  max-width: 50%;
  margin-bottom: 10px;
}
